# Initialisation + main VARIABLE

In [17]:
import pandas as pd

# Create your DataFrames (replace these with your actual DataFrames)
date_id = ["2307", "2306", "2305", "2304", "2303", "2302", "2301", "2212", "2211", "2210", "2209", "2208"]

# Verifying shapes of Datasets

In [18]:
for date in date_id:
    df = pd.read_excel(f'Data_GamesCompanies/Data_{date}.xlsx')
    print(df.shape)

(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)
(100, 27)

# Armonisation of column names

In [19]:
# Defining Exact Names for each columns
for date in date_id:
    df = pd.read_excel(f'Data_GamesCompanies/Data_{date}.xlsx')
    columns_names = [
        '#', 'Unified App', 'Classification', 'Downloads', 
        'Cumulative Downloads', 'Revenue', 'Cumulative Revenue', 
        'Revenue/Downloads', 'Paid Downloads', 'Organic Downloads', 
        '% Paid Downloads', '% Organic Downloads', 'Usage Penetration', 
        'Active Users', 'Install Penetration', 'Install Base', 
        'Open Rate', 'Avg Sessions / User', 'Avg Session Duration', 
        'Avg Time / User', 'Total Time', 
        'Avg Active Days', '% Active Days', 'Genre', 
        'Company', 'Year', 'Month'
    ]
    df.columns = columns_names

    # Save the resulting DataFrame to a new Excel file
    df.to_excel(f'Data_{date}.xlsx', index=False)

df.head(3)

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,48900.0,5500000,3500000,55900000,10.16,24900.0,24000.0,...,73.45,1900-01-01 00:04:52.982,1900-01-01 05:58:41.981000,6.110000e+08,11.77,0.3796,Party,Moon Active,2022,8
1,2,Candy Crush Saga,M3,119000.0,28600000,1240000,67800000,2.37,34700.0,83900.0,...,62.1,1900-01-01 00:06:38.995,1900-01-01 06:52:31.958000,1.220000e+09,9.25,0.2985,Match,King,2022,8
2,3,Stumble Guys,Party Royale,667000.0,6360000,1120000,4150000,0.65,169000.0,498000.0,...,28.09,1900-01-01 00:06:59.990,1900-01-01 03:16:43.018000,1.050000e+09,7.66,0.2471,Party,Scopely,2022,8

# Removing unwanted characters

In [20]:
for date in date_id:
    df = pd.read_excel(f'Data_{date}.xlsx')

    # Specify the columns to clean
    columns_to_clean = ['Downloads', 'Cumulative Downloads', 'Revenue', 'Cumulative Revenue', 'Revenue/Downloads'
                        'Paid Downloads', 'Organic Downloads', 'Active Users', 'Install Base', 'Total Time']
    # Remove unwanted characters and convert numbers to their numerical equivalent
    for column in columns_to_clean:
        try:
            df['Revenue/Downloads'] = df['Revenue/Downloads'].str.replace(r'[\,]', '.', regex=True)  # Remove ',' with '.'
        except:
            pass
        try:
            df[column] = df[column].str.replace(r'[\$]', '', regex=True)  # Remove '$'
        except:
            pass
        try:
            df[column] = df[column].str.replace(r'(\d+)([kK])', r'\g<1>e3', regex=True)  # Convert 'k' to '*1e3'
        except:
            pass
        try:
            df[column] = df[column].str.replace(r'(\d+)([mM])', r'\g<1>e6', regex=True)  # Convert 'm' to '*1e6'
        except:
            pass
        try:
            df[column] = df[column].str.replace(r'(\d+)([bB])', r'\g<1>e9', regex=True)  # Convert 'b' to '*1e9'
        except:
            pass
        try:
            df[column] = pd.to_numeric(df[column])  # Convert the column to numeric data type
        except:
            pass

    # Save the resulting DataFrame to a new Excel file
    df.to_excel(f'Data_{date}.xlsx', index=False)

df.head(3)

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,48900.0,5500000,3500000,55900000,10.16,24900.0,24000.0,...,73.45,1900-01-01 00:04:52.982,1900-01-01 05:58:41.981000,6.110000e+08,11.77,0.3796,Party,Moon Active,2022,8
1,2,Candy Crush Saga,M3,119000.0,28600000,1240000,67800000,2.37,34700.0,83900.0,...,62.1,1900-01-01 00:06:38.995,1900-01-01 06:52:31.958000,1.220000e+09,9.25,0.2985,Match,King,2022,8
2,3,Stumble Guys,Party Royale,667000.0,6360000,1120000,4150000,0.65,169000.0,498000.0,...,28.09,1900-01-01 00:06:59.990,1900-01-01 03:16:43.018000,1.050000e+09,7.66,0.2471,Party,Scopely,2022,8

# Datetime to amount in minuts

In [21]:
from datetime import datetime

# Columns to convert from date to amount number
date_columns = ['Avg Session Duration', 'Avg Time / User']

for date in date_id:
    df = pd.read_excel(f'Data_{date}.xlsx')

    for col in date_columns:
        df[col] = pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
        df[col] = df[col].apply(lambda x: (x.hour * 60) + (x.minute) + (x.second / 60) if not pd.isnull(x) else None)

    # Save the resulting DataFrame to a new Excel file
    df.to_excel(f'Data_{date}.xlsx', index=False)

df.head(3)

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,48900.0,5500000,3500000,55900000,10.16,24900.0,24000.0,...,73.45,4.866667,358.683333,6.110000e+08,11.77,0.3796,Party,Moon Active,2022,8
1,2,Candy Crush Saga,M3,119000.0,28600000,1240000,67800000,2.37,34700.0,83900.0,...,62.1,6.633333,412.516667,1.220000e+09,9.25,0.2985,Match,King,2022,8
2,3,Stumble Guys,Party Royale,667000.0,6360000,1120000,4150000,0.65,169000.0,498000.0,...,28.09,6.983333,196.716667,1.050000e+09,7.66,0.2471,Party,Scopely,2022,8

# Check Types and Convert to Numeric

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   Unified App           100 non-null    object
 2   Classification        100 non-null    object
 3   Downloads             99 non-null     float64
 4   Cumulative Downloads  100 non-null    int64
 5   Revenue               100 non-null    int64
 6   Cumulative Revenue    100 non-null    int64
 7   Revenue/Downloads     100 non-null    float64
 8   Paid Downloads        84 non-null     float64
 9   Organic Downloads     96 non-null     float64
 10  % Paid Downloads      100 non-null    float64
 11  % Organic Downloads   100 non-null    float64
 12  Usage Penetration     100 non-null    object
 13  Active Users          100 non-null    int64
 14  Install Penetration   100 non-null    float64
 15  Install Base          100 non-null    int64
 16  Open Rate             100 non-null    float64
 17  Avg Sessions / User   98 non-null     object
 18  Avg Session Duration  98 non-null     float64
 19  Avg Time / User       95 non-null     float64
 20  Total Time            98 non-null     float64
 21  Avg Active Days       95 non-null     float64
 22  % Active Days         95 non-null     float64
 23  Genre                 100 non-null    object
 24  Company               100 non-null    object
 25  Year                  100 non-null    int64
 26  Month                 100 non-null    int64
dtypes: float64(13), int64(8), object(6)
memory usage: 21.2+ KB

In [23]:
# Columns to convert to numeric
numeric_columns = ['Revenue/Downloads', 'Usage Penetration', 'Avg Sessions / User']

for date in date_id:
    df = pd.read_excel(f'Data_{date}.xlsx')

    # Convert specified columns to numeric
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Save the resulting DataFrame to a new Excel file
    df.to_excel(f'Data_{date}.xlsx', index=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   Unified App           100 non-null    object
 2   Classification        100 non-null    object
 3   Downloads             99 non-null     float64
 4   Cumulative Downloads  100 non-null    int64
 5   Revenue               100 non-null    int64
 6   Cumulative Revenue    100 non-null    int64
 7   Revenue/Downloads     100 non-null    float64
 8   Paid Downloads        84 non-null     float64
 9   Organic Downloads     96 non-null     float64
 10  % Paid Downloads      100 non-null    float64
 11  % Organic Downloads   100 non-null    float64
 12  Usage Penetration     99 non-null     float64
 13  Active Users          100 non-null    int64
 14  Install Penetration   100 non-null    float64
 15  Install Base          100 non-null    int64
 16  Open Rate             100 non-null    float64
 17  Avg Sessions / User   97 non-null     float64
 18  Avg Session Duration  98 non-null     float64
 19  Avg Time / User       95 non-null     float64
 20  Total Time            98 non-null     float64
 21  Avg Active Days       95 non-null     float64
 22  % Active Days         95 non-null     float64
 23  Genre                 100 non-null    object
 24  Company               100 non-null    object
 25  Year                  100 non-null    int64
 26  Month                 100 non-null    int64
dtypes: float64(15), int64(8), object(4)
memory usage: 21.2+ KB

# Check Issues HERE by calling the dataset you want to verify

In [24]:
df_view = pd.read_excel('Data_2209.xlsx')
df.head(3)

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,48900.0,5500000,3500000,55900000,10.16,24900.0,24000.0,...,73.45,4.866667,358.683333,6.110000e+08,11.77,0.3796,Party,Moon Active,2022,8
1,2,Candy Crush Saga,M3,119000.0,28600000,1240000,67800000,2.37,34700.0,83900.0,...,62.10,6.633333,412.516667,1.220000e+09,9.25,0.2985,Match,King,2022,8
2,3,Stumble Guys,Party Royale,667000.0,6360000,1120000,4150000,0.65,169000.0,498000.0,...,28.09,6.983333,196.716667,1.050000e+09,7.66,0.2471,Party,Scopely,2022,8

In [25]:
df_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     100 non-null    int64
 1   Unified App           100 non-null    object
 2   Classification        100 non-null    object
 3   Downloads             99 non-null     float64
 4   Cumulative Downloads  100 non-null    int64
 5   Revenue               100 non-null    int64
 6   Cumulative Revenue    100 non-null    int64
 7   Revenue/Downloads     100 non-null    float64
 8   Paid Downloads        84 non-null     float64
 9   Organic Downloads     96 non-null     float64
 10  % Paid Downloads      100 non-null    float64
 11  % Organic Downloads   100 non-null    float64
 12  Usage Penetration     97 non-null     float64
 13  Active Users          100 non-null    int64
 14  Install Penetration   100 non-null    float64
 15  Install Base          100 non-null    int64
 16  Open Rate             100 non-null    float64
 17  Avg Sessions / User   98 non-null     float64
 18  Avg Session Duration  0 non-null      float64
 19  Avg Time / User       0 non-null      float64
 20  Total Time            98 non-null     float64
 21  Avg Active Days       94 non-null     float64
 22  % Active Days         94 non-null     float64
 23  Genre                 100 non-null    object
 24  Company               100 non-null    object
 25  Year                  100 non-null    int64
 26  Month                 100 non-null    int64
dtypes: float64(15), int64(8), object(4)
memory usage: 21.2+ KB