In [1]:
import pandas as pd
from datetime import datetime

# Read the Excel file into a DataFrame
df = pd.read_excel('Data_GamesCompanies/Data_ALL.xlsx')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     1200 non-null   int64
 1   Unified App           1200 non-null   object
 2   Classification        1200 non-null   object
 3   Downloads             1176 non-null   float64
 4   Cumulative Downloads  1200 non-null   int64
 5   Revenue               1200 non-null   int64
 6   Cumulative Revenue    1200 non-null   int64
 7   Revenue/Downloads     1200 non-null   object
 8   Paid Downloads        1003 non-null   float64
 9   Organic Downloads     1151 non-null   float64
 10  % Paid Downloads      1200 non-null   float64
 11  % Organic Downloads   1200 non-null   float64
 12  Usage Penetration     1200 non-null   object
 13  Active Users          1200 non-null   int64
 14  Install Penetration   1200 non-null   float64
 15  Install Base          1200 non-null   int64
 16  Open Rate             1200 non-null   float64
 17  Avg Sessions / User   1196 non-null   object
 18  Avg Session Duration  1196 non-null   object
 19  Avg Time / User       1196 non-null   object
 20  Total Time            1196 non-null   float64
 21  Avg Active Days       1188 non-null   float64
 22  % Active Days         1188 non-null   float64
 23  Genre                 1200 non-null   object
 24  Company               1200 non-null   object
 25  Year                  1200 non-null   int64
 26  Month                 1200 non-null   int64
dtypes: float64(10), int64(8), object(9)
memory usage: 253.2+ KB

In [3]:
# Columns to convert to numeric
numeric_columns = ['Revenue/Downloads', 'Usage Penetration', 'Avg Sessions / User']

# Convert specified columns to numeric
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Columns to convert from date to amount number
date_columns = ['Avg Session Duration', 'Avg Time / User']

for col in date_columns:
    df[col] = pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
    df[col] = df[col].apply(lambda x: (x.hour * 60) + (x.minute) + (x.second / 60) if not pd.isnull(x) else None)

# Example time count conversion
time_count = '1900-01-02 00:04:10.992000'
time_obj = datetime.strptime(time_count, '%Y-%m-%d %H:%M:%S.%f')
total_minutes = time_obj.second // 60 + time_obj.minute + time_obj.hour * 60
print(total_minutes)

# Now you can work with the transformed DataFrame 'df'
df.head(3)

4

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,44000.0,6240000,2650000,86300000,13.83,24900.0,19100.0,...,81.57,4.166667,340.650000,5.440000e+08,12.23,0.3946,Party,Moon Active,2023,7
1,2,Candy Crush Saga,M3,66700.0,29700000,1180000,80700000,2.72,25600.0,41100.0,...,58.39,8.466667,494.733333,1.260000e+09,9.00,0.2903,Match,King,2023,7
2,3,ROBLOX,Creative Sandbox,242000.0,11100000,718000,29100000,2.63,30800.0,212000.0,...,81.40,9.950000,811.883333,2.660000e+09,9.56,0.3085,Simulation,Roblox,2023,7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   #                     1200 non-null   int64
 1   Unified App           1200 non-null   object
 2   Classification        1200 non-null   object
 3   Downloads             1176 non-null   float64
 4   Cumulative Downloads  1200 non-null   int64
 5   Revenue               1200 non-null   int64
 6   Cumulative Revenue    1200 non-null   int64
 7   Revenue/Downloads     1000 non-null   float64
 8   Paid Downloads        1003 non-null   float64
 9   Organic Downloads     1151 non-null   float64
 10  % Paid Downloads      1200 non-null   float64
 11  % Organic Downloads   1200 non-null   float64
 12  Usage Penetration     1171 non-null   float64
 13  Active Users          1200 non-null   int64
 14  Install Penetration   1200 non-null   float64
 15  Install Base          1200 non-null   int64
 16  Open Rate             1200 non-null   float64
 17  Avg Sessions / User   1195 non-null   float64
 18  Avg Session Duration  998 non-null    float64
 19  Avg Time / User       982 non-null    float64
 20  Total Time            1196 non-null   float64
 21  Avg Active Days       1188 non-null   float64
 22  % Active Days         1188 non-null   float64
 23  Genre                 1200 non-null   object
 24  Company               1200 non-null   object
 25  Year                  1200 non-null   int64
 26  Month                 1200 non-null   int64
dtypes: float64(15), int64(8), object(4)
memory usage: 253.2+ KB

In [5]:
df.to_excel('Data_GamesCompanies/Data_ALL.xlsx', index=False)

In [6]:
df.head(3)

,#,Unified App,Classification,Downloads,Cumulative Downloads,Revenue,Cumulative Revenue,Revenue/Downloads,Paid Downloads,Organic Downloads,...,Avg Sessions / User,Avg Session Duration,Avg Time / User,Total Time,Avg Active Days,% Active Days,Genre,Company,Year,Month
0,1,Coin Master,Luck Batle,44000.0,6240000,2650000,86300000,13.83,24900.0,19100.0,...,81.57,4.166667,340.650000,5.440000e+08,12.23,0.3946,Party,Moon Active,2023,7
1,2,Candy Crush Saga,M3,66700.0,29700000,1180000,80700000,2.72,25600.0,41100.0,...,58.39,8.466667,494.733333,1.260000e+09,9.00,0.2903,Match,King,2023,7
2,3,ROBLOX,Creative Sandbox,242000.0,11100000,718000,29100000,2.63,30800.0,212000.0,...,81.40,9.950000,811.883333,2.660000e+09,9.56,0.3085,Simulation,Roblox,2023,7